//- template.pug
doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Constancia de aplicación
  style(type='text/css')
    include email.css
//- Wrapper for the body of the email
body
  center
    div(style='background-color:#F2F2F2; max-width: 400px; margin: auto;')
      table(width='400' cellspacing='0' cellpadding='0' border='0' style='max-width:400px; width:100%;' bgcolor='#FFFFFF')
        tr
          td(align='center' valign='top' style='padding:0px;')
            h1= subject
            //- img(src='http://placehold.it/200x200' align='center')
            img(src=`${logo}` align='center' style="height:69px;padding:20px")
        //- email body
        tr
          td(align='left' valign='top' style='padding:0px;padding-bottom:20px;')
            p Te informamos tus datos de acceso a la aplicación
        tr
          td(align='left' valign='top' style='padding:0px;padding-left:10px')
            p
              strong Usuario:
              br
              |  #{data.email}
            if data.password
              p(style="padding-top:10px;")
                strong Contraseña
                br
                |  #{data.password}
        tr
          td(align='left' valign='top' style='padding:10px;')
            strong Roles
            each rol in data.roles
              p  #{rol}

